.container{
    background-color:transparent;
    background-size:1000px;
    background-position: center;
    border: 1px solid lightsalmon;
    border-radius: 50px;
    display: grid;
    place-items: center;
    position:absolute;
    top: 50px;
    bottom: 50px;
    left: 500px;
    right: 500px; ;
  
  }
  
  .form{
    margin: 10px;
    display:contents;
    gap: 8px; 
    
  }
  .form :is(input, button) {
    width: 60%;
    height: 30px;
    border-radius: 28px;
    font-size: 16px;
    font-family: inherit;
    border: 1px solid gray;
    
  }
  .form > input {
    border: 5px;
    padding: 2px;
    color: #222222;
    background: lightsalmon;
  }
  .form > input::placeholder {
    color: rgb(0 0 0 / 28%);
  }
  
  .button {
    color: #f9f9f9;
    background: red;
    display: grid;
    place-items: center;
    font-weight: 500;
    cursor: pointer;
    border: 5px white;
      
  }
  .button:hover {
    background-color: orangered;
    border-color: black;
    color: black;
    border: 3px solid white;
  }

  .buttonhome{
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    border: 2px solid lightsalmon;
    border-radius: 5px;
    color: #fff;
    background-color: rgb(224, 32, 32);
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
    margin-right: 20px;
    position:absolute;
    top:10px;
    left: 50px
  }
  
  .buttonhome:hover {
    background-color: darkred;
    border-color: black;
    color: #fff;
  }

  .disabledButton {

    background-color: #dddddd; 
    color: #aaaaaa; 
    cursor: not-allowed; 
  }