.container{
    background: linear-gradient(to right,orangered 10%, darkred 90%);
    margin: 15px;
    padding: 10px;
    border-radius: 50px;
    font-family: cursive;
    font-size: 10px;
    width: 400px;
    height:fit-content;
    border: 5px solid lightsalmon

    
}
.container img{
    border-radius: 50%; 
    width: 150px;
    height: 150px;
    object-fit: cover;
    border: 5px solid black;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); 
}