.buttonPrev {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    border: 2px solid lightsalmon;
    border-radius: 20px;
    color: black;
    background-color: rgb(224, 32, 32);
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;

    position: absolute;
    top:15px;
    right: 100px
    
  
  }
  
 
  .buttonPrev:hover {
    background-color: darkred;
    border-color: black;
    color: #fff;
  }

  .buttonNext {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    border: 2px solid lightsalmon;
    border-radius: 20px;
    color: black;
    background-color: rgb(224, 32, 32);
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;

    position: absolute;
    top:15px;
    left: 100px
    
  
  }
  
 
  .buttonNext:hover {
    background-color: darkred;
    border-color: black;
    color: #fff;
  }

.text {
    color: aliceblue;
}
